<h1>Adicionar Usuário</h1>
<form action="/users/add" method="post">
  <div class="row align-items-start">
    <div class="col-md-6">
      <label for="nome" class="form-label">Nome:</label>
      <input type="text" name="nome" class="form-control" />
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-md-6">
      <label for="email" class="form-label">E-mail:</label>
      <input type="text" name="email" class="form-control" />
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-md-6">
      <label for="idade" class="form-label">Password:</label>
      <input type="text" name="password" class="form-control" />
    </div>
  </div>
  <br>
  <div class="col-sm-2">
    <input type="submit" value="Salvar" />
  </div>

</form>
