 {{#if auth}}
 <h1>Trabalhando com NODE JS - HANDLEBARS</h1>
    <h3>Seja Bem-vindo!!</h3>
    <h3>Ítens Disponíveis</h3>
   
    <ul>
       {{#each itens}}
        <li>{{this}}</li>
       {{/each}}
      
    </ul>

 

    

  <a href="/users/add">Adicionar Usuário</a>

  {{else}}

  <h2>Faça o Login!</h2>
    <a href="/">Login</a>

  {{/if}}

