<h2>{{message}}</h2>
<h1>Trabalhando com NODE JS - HANDLEBARS</h1>
<hr />
<div class="central">
  <div class="row">
    <div class="col-md-3">
      <form action="/users/add" method="get">
        <button type="submit" class="btn btn-primary">Novo Usuário</button>
      </form>
    </div>
    <div class="col-md-3">
      <form action="/users/allUsers" method="get">
        <button type="submit" class="btn btn-primary">Todos os usuários</button>
      </form>
    </div>

  </div>
</div>
