<h1>Adicionar Usuário</h1>
<form action="/users/add" method="post">
  <div>
    <input type="text" name="name" placeholder="Digite seu nome">
    <input type="text" name="age" placeholder="Digite idade">
    <input type="submit" value="Cadastrar" />
  </div>
</form>

<hr>

<form action="/users/allUsers" method="get">
  <button type="submit" class="btn btn-primary">Todos os Usuário</button>
</form>
