* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#navbar {
  padding: 1em 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #db4c3f;
  color: #fff;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 2em;
}

.container {
  max-width: 450px;
  margin: 2em auto;
}

.container form {
  margin-top: 1.5em;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.form-control input,
.form-control textarea {
  padding: 7px;
  border-radius: 3px;
  border: 1px solid 	#F8F8F8;
}

form input[type='submit'] {
  background-color: #db4c3f;
  color: #fff;
  padding: 0.7em 1.5em;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.user_list{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 1em;
}

.user_list li {
  display: flex;
  flex-direction: row;
  justify-content:flex-start; 
}

.user_list li label{
 margin-left: 5px;
}
li label{
  font-size: 1.5em;
}

.actions{
  margin-top: 6px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 50px;
  font-size: 1.5rem;
}
.back_view{
  background-color: 	#D8D8D8;
  display: flex;
}
.back_view button {
  align-items: center;
}

.actions form {
  display: flex;
  margin-top: 0px;
  margin-left: 20px;

}

.message {
  padding: 1em;
  color: #004085;
  background-color: #cce5ff;
  border: 1px soli d#b8daff;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 60%;
}
